/.RData
/.Rhistory
/.nextflow
/.nextflow.log
/.nextflow.log.1
/.nextflow.log.2
/.nextflow.log.3
/.snakemake
/Snakefile copy
/__pycache__
/report.html
/samples_r_metadata.csv
/work
/samples
/analysis/*
/logs/*
/ref/*
/benchmarks/*